
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg{
    
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1560493676-04071c5f467b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZmFybXxlbnwwfHwwfHx8MA%3D%3D" );
    background-size:cover;
    background-repeat: no-repeat;
   background-position: center;
  
   
    
}

h1 ,h3{
    padding-left: 50px;
    padding-top: 20px;
}

hr{
height:5px;
width: 50%;
color:black;
background-color: black;
 
 
}

#area{
    overflow: scroll;
}

.photos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
    flex-wrap: wrap;
    height: 400px;
    padding-top:100px;
}





body {
  height:100vh;
  font-family: Helvetica, sans-serif;
  background: var(--dark-body-bg); 
}

 body.light {
   background: var(--light-body-bg); 
}
form {
    width: 300px;
    margin: 0 auto;
    position: relative;
   
 
  }
 

label {
  display: block;
  color: #8A8F9F;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10px;
}

input {
  width: 20vw;
  padding: 15px 20px;
  box-sizing: border-box;
  color: var(--dark-active-list);  
}

body.light input {
  color: var(--light-active-list);  
}

/* Common styles to keep DRY */
input, 
#Areas span {
  font-size: 1.2rem; 
}


/* 
* Dropdown list custom design 
*/

.dropdown_wrapper {

  padding-top: 8px;
  height: 250px;
  display: none;
}

.dropdown_wrapper.active {
  display: block;
}

.Areas_wrapper {
  overflow-y: hidden;
  height: 100%;
  padding: 8px;
  padding-right: 0;
  background: var(--dark-input);
}



#Areas {
  overflow-y: auto;
  height: inherit;
}


#Areas span {
  display: block;
  padding: 12px;
  border-radius: 15px;
  letter-spacing: .025rem;
  color: var(--dark-inactive-list); 
}



/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}













