
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg{
    
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1560493676-04071c5f467b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZmFybXxlbnwwfHwwfHx8MA%3D%3D" );
    background-size:cover;
    background-repeat: no-repeat;
   background-position: center;
  
   
    
}

h1 ,h3{
    padding-left: 50px;
    padding-top: 20px;
}

hr{
height:5px;
width: 50%;
color:black;
background-color: black;
 
 
}

#area{
    overflow: scroll;
}

