* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.accordion-content {
  display: none;
  margin: 10px 0;
}
#title {
  text-align: center;
  padding-top: 20px;
}
#button {
  padding-left: 25vh;
}
#button > .buttonclick {
  margin: 5px;
  margin-top: 60px;
  background-color: DodgerBlue;
}
